
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    
    width: 70vw;
    height: 70vh;
    background-color: hotpink;
}

main div:nth-child(1) {
    background-color: blue;
    align-self: flex-start;
    justify-self: flex-start;
    width: 30%;
    height: 70%;
}

main div:nth-child(2) {
    background-color: red;
    justify-self: flex-start;
    align-self: flex-start;
    width: 21%;
    height: 18%;
    margin: 0px;
    position: absolute;
    bottom: 15%;
}

main div:nth-child(3) {
    background-color: yellow;
    height: 60%;
    width: 30%;
    left: 37%;
    top: 25%;
    position: absolute;
 }

main div:nth-child(4) {
    background-color: green;
}

main div:nth-child(5) {
    background-color: grey;
}

main div:nth-child(6) {
    background-color: gold;
}

